
body{

    color: white;

    margin: 0;

    padding: 0;

    overflow: hidden;

}


#forrest{

    background: url('img/forrest.jpg');
   
    position: fixed;

    background-repeat: no-repeat;
    
    background-size: cover;

    bottom : 10vh;

    height: 80vh;

    width: 100%;
    
    z-index: 1;

}

#forrest2{

    background: url('img/forrest.jpg');

    background-repeat: no-repeat;

    position: fixed;

    background-size: cover;
    
    width: 100vw;

    bottom: 10vh;
    
    height: 80vh;

    z-index: 1;

}


#tree{

    position: fixed;

    right: -50vw;

    bottom : 10vh;

    z-index: 2;

    height: 180vh;

}

#tree img{

     height: 100%;

     width: auto;

     opacity: 0.9;
    
}


#characterDiv{

    position: absolute;

    bottom: 10vh;

    left: 37.5vw;

    height: 19vh;

    width: 22vw;

    z-index: 3;

    display: flex;

    flex-direction: row;


}



#character{
  
    height: 100%;

    width: 10%;

}


#mainCharacterCanvas{

    height: 100%;
 
    width: auto;
     
 }

.forwardLightDirection{

    left: 40vw;

    justify-content: flex-start;
}



.backWardLightDirection{

    left:20vw;

    justify-content: flex-end;
}







#opponent{

    position: absolute;

    bottom: 10vh;

    height: 20.5vh;

    width: 8.5vw;

    z-index: 3;

    left: 75vw;

    opacity: 0;
    
}



#opponentCanvas{

    height: 100%;

    width: 100%;
}





#lady{
    
     height: 15vh;

     width: 3.5vw;

     background: white;

     position: fixed;

     top: 75vh;

     right: 5vw;

     z-index: 3;
     
     opacity: 0.1;
}


#booksCount{
    position: absolute;
    top: 7.5%;
    left: 40%;
    height: 10vh;
    width: 20%;
    display: flex;
    z-index: 8;
    color:red;
    font-size: 1.25vw;
}


#lossMessage{

    position: absolute;
    top: 5%;
    left: 40%;
    height: 10vh;
    width: 20%;
    display: flex;
    z-index: 8;
    color:red;
    opacity: 0;
}


#gunshotSpark{


    position: absolute;
    bottom: 18.5vh; 
    left:  55vw;
    height: 10vh;
    width: 5vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
}



#gunshotSpark2{

    position: absolute;
    bottom: 18.5vh; 
    left:  25vw;
    height: 10vh;
    width: 5vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    
}


.sparkImg{

    height: 100%;
    width: auto;
    
}

#gunShotCanvas{

    height: 100%;
    width: 100%;
}




#bullet{

background: black;

position: absolute;

top: 80vh;

right: 60vw;

height: 0.5vh;

width: 1vw;

z-index: 3;

}


#gunPackDiv{

position: absolute;

bottom: 40%;

top: 80vh;

height: 10vh;

width: 10vw;

left: 80vw;


}


#machineGun{

    background: black;
    
    position: absolute;
    
    top: 85vh;
    
    left: 40vw;
    
    height: 3vh;
    
    width: 4vw;
    
    z-index: 3;

    
}


#carefulDiv{

    position: absolute;
    top: 50vh;
    left: 45vw;
    background: white;
    color: black;
    z-index: 5;
    opacity: 0;
    
}


#secretImgPng{

    height: 90%;
    width: auto;

}


#book1{

    height: 15vh;
    width: 3.5vw;
    position: fixed;
    top: 75vh;
    right: 120vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
   
}


#book2{

    height: 15vh;
    width: 3.5vw;
    position: fixed;
    top: 75vh;
    right: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    
   
}


#book3{

    height: 15vh;
    width: 3.5vw;
    position: fixed;
    top: 75vh;
    right: 180vw;
    z-index: 2;
    display: flex;
    justify-content: center;
   
}


#book4{

    height: 15vh;
    width: 3.5vw;
    position: fixed;
    top: 75vh;
    right: -50vw;
    z-index: 2;
    display: flex;
    justify-content: center;
   
}


#book5{

    
    height: 15vh;

    width: 3.5vw;


    position: fixed;

    top: 75vh;

    right: -80vw;
    z-index: 2;
    display: flex;
    justify-content: center;
   
}


#book6{

    
    height: 15vh;

    width: 3.5vw;


    position: fixed;

    top: 75vh;

    right: -100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
   
}

#book7{

    
    height: 15vh;
    width: 3.5vw;
    position: fixed;
    top: 75vh;
    right: -130vw;
    z-index: 2;
    display: flex;
    justify-content: center;
   
}


#darkDiv{


   position:absolute;
   height: 100vh;
   width: 100vw;
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   position: fixed;
   pointer-events: none;

   


   z-index: 4;


}


.leftLight{


    --cursorX: 31.5vw;
    --cursorY: 50vh;
 
    background: radial-gradient(
      circle 20vmax at var(--cursorX) var(--cursorY),
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,.5) 80%,
      rgba(0,0,0,.95) 100%
    );




}




.rightLight{

    --cursorX: 48vw;
    --cursorY: 50vh;
 
    background: radial-gradient(
      circle 20vmax at var(--cursorX) var(--cursorY),
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,.5) 80%,
      rgba(0,0,0,.95) 100%
    );




}




 @keyframes gunshot{

    0%{ left: 30vw}
    30%{ left: 70vw}
    100%{ left: 100vw}

 }

 @keyframes opponentRunFromRight{


    0%{ left: 75vw}
    30%{ left: 30vw}
    100%{ left: 0vw}

 }

 @keyframes opponentRunFromLeft{

    0%{ left: 0vw}
    30%{ left: 30vw}
    100%{ left: 75vw}

 }


 
 @keyframes shot{

    0%{ left: 40vw}
    30%{ left: 60vw}
    70%{ left: 85vw}
    100%{ left: 100vw} 
}





