body{

    background : black;

    color: white;

    margin: 0;

    padding: 0;

    overflow: hidden;

}


#forrest{

    background: url('img/forrest.jpg');

    position: absolute;

    background-repeat: no-repeat;

    background-size: cover;

    top: 40vh;

    height: 50vh;

    width: 100%;
    
    z-index: 1;
}

#forrest2{

    background: url('img/forrest.jpg');

    background-repeat: no-repeat;

    position: absolute;

    background-size: cover;

    
    width: 100vw;

    top: 40vh;
    
    height: 50vh;

    z-index: 1;


}


#tree{

    position: fixed;

    right: 0px;

    top: 20px;

    z-index: 2;
}

#tree img{

     height: 80px;

     width: auto;

     opacity: 0.8;

    
}


#characterDiv{

    height: 30vh;

    width: 20vw;

    background:gold;

    position: fixed;

    top: 60vh;

    z-index: 2;

    display: flex;

    flex-direction: row;

}



.forwardLightDirection{

    left:40vw;

    justify-content: flex-start;
}



.backWardLightDirection{

    left:20vw;

    justify-content: flex-end;
}



#character{
    margin-top: 40%;

    height: 50%;

    width:10%;

    background: black;
}



#opponent{

    
    height: 15vh;

    width: 10vw;

    position: fixed;

    top: 55vh;

    left: 75vw;

    z-index: 2;

    opacity: 0;

    
}



#lady{
    
     height: 15vh;

     width: 3.5vw;

     background: white;

     position: fixed;

     top: 75vh;

     right: 5vw;

     z-index: 5;
}


#bullet{

background: black;

position: absolute;

top: 80vh;

right: 60vw;

height: 0.5vh;

width: 1vw;

z-index: 3;

}


#gunPackDiv{

position: absolute;

bottom: 40%;

top: 80vh;

height: 10vh;

width: 10vw;

left: 80vw;

background: black;

}


#machineGun{

    background: black;
    
    position: absolute;
    
    top: 85vh;
    
    left: 40vw;
    
    height: 3vh;
    
    width: 4vw;
    
    z-index: 3;

    
}


#carefulDiv{

    position: absolute;

    top: 50vh;

    left: 45vw;


    background: white;

    color: black;

    z-index: 4;

    opacity: 0;
}



#book1{

    
    height: 15vh;

    width: 3.5vw;

    background: orange;

    position: fixed;

    top: 75vh;

    right: -50vw;
    z-index: 2;
   
}


#book2{

    
    height: 15vh;

    width: 3.5vw;

    background: orange;

    position: fixed;

    top: 75vh;

    right: -100vw;
    z-index: 2;
   
}


#book3{

    
    height: 15vh;

    width: 3.5vw;

    background: orange;

    position: fixed;

    top: 75vh;

    right: -120vw;
    z-index: 2;
   
}


#book4{

    
    height: 15vh;

    width: 3.5vw;

    background: orange;

    position: fixed;

    top: 75vh;

    right: -180vw;
    z-index: 2;
   
}


#book5{

    
    height: 15vh;

    width: 3.5vw;

    background: orange;

    position: fixed;

    top: 75vh;

    right: -250vw;
    z-index: 2;
   
}


#book6{

    
    height: 15vh;

    width: 3.5vw;

    background: orange;

    position: fixed;

    top: 75vh;

    right: -300vw;
    z-index: 2;
   
}

#book7{

    
    height: 15vh;

    width: 3.5vw;

    background: orange;

    position: fixed;

    top: 75vh;

    right: -400vw;
    z-index: 2;
   
}






 @keyframes gunshot{

    0%{ left: 30vw}
    30%{ left: 70vw}
    100%{ left: 100vw}

 }

 @keyframes opponentRunFromRight{


    0%{ left: 75vw}
    30%{ left: 30vw}
    100%{ left: 0vw}

 }

 @keyframes opponentRunFromLeft{

    0%{ left: 0vw}
    30%{ left: 30vw}
    100%{ left: 75vw}

 }


 
 @keyframes shot{

    0%{ left: 40vw}
    30%{ left: 60vw}
    70%{ left: 85vw}
    100%{ left: 100vw} 
}






